#adminForm {
    margin: 50px;
}
#adminTitle {
    margin-left: 90px;
}
#adminDescription {
    margin-left: 44px;
}
#adminAvailableSizes {
    margin-left: 29px;
}
#adminPrice {
    margin-left: 86px;
}
#adminIsFreeShipping {
    margin-left: 20px;
}
#adminImage {
    margin-left: 57px;
}
#adminButton {
    width: 300px;
    height: 40px;
    margin-left: 122px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}